<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact DeviantArt</title>
  <!-- Enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
  <style>
    /* Estilos CSS adicionales */
    body {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    /* Estilos CSS para hacer el texto responsive */
    
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h1>Contact S-ART</h1>
        <p>If you need assistance with any  S-ART-related issues, or wish to report a problem and write to :</p>
                <p><a href="sartoxr@gmail.com">Contact  S-ART Customer Support</a></p>
                <h2> S-ART Help Center</h2>
        <p> S-ART is the leading online community and social network for artists and art appreciators. We reach a wide range of creators and entertainment enthusiasts who globally share a passion for pop culture.</p>
        <p>We have a successful history offering worldwide brands the opportunity to communicate branded messages through a unique artistic lens. View our media kit to learn more about the diverse brands and influencers we've partnered with:</p>
                <p><a href="https://www.S-ARTo.////com"> S-ART.com</a></p>
        <p>Did this answer your question?</p>
      </div>
    </div>
  </div>

  <!-- Enlace al archivo JS de Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
