<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fernando Sartorius Carreras</title>
    <link rel="stylesheet" href="Developer.css">
   

</head>
<body>
    <header>
        <h1>Fernando Sartorius Carreras</h1>
        <nav>
            <ul>
                <li><a href="#sobre-mi">Sobre mí</a></li>
                <li><a href="#experiencia">Experiencia</a></li>
                <li><a href="#educacion">Educación</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sobre-mi">
            <h2>Sobre mí</h2>
            <p>Soy un profesional con experiencia en el campo de la tecnología y las comunicaciones.
                Me apasiona trabajar en proyectos innovadores y desafiantes que me permitan seguir creciendo y aprendiendo.</p>
        </section>
        <section id="experiencia">
            <h2>Experiencia</h2>
            <ul>
                <li>Programador junior Remedy<br/> (mar. 2022 - jun. 2022 · 4 meses)</li>
                
            </ul>
        </section>
        <section id="educacion">
            <h2>Educación</h2>
            <ul> <li>
                    IES Islas Filipinas<br/>
                    Técnico en Desarro llo de Aplicaciones Multiplataforma<br/>
                    sept. 2020 - mar. 2022
                 </li>
                <li>
                    Guzmán el Bueno<br/>
                    Bachillerato, Ciencias sociales<br/>
                    sept. 2018 - may. 2020
                </li>
                <li>
                    Tajamar<br/>
                    Máster Full Stack Developer , Programación informática, aplicaciones específicas<br/>
                    oct. 2022
                </li>


            </ul>
        </section>
        <section id="contacto">
            <h2>Contacto</h2>
            <p>Puede contactarme a través de mi cuenta de LinkedIn:</p>
            <a href="https://www.linkedin.com/in/fernando-sartorius-carreras/">Fernando Sartorius Carreras</a>
        </section>
    </main>
    <footer>
        <p>Derechos de autor © 2023 Fernando Sartorius Carreras.</p>
    </footer>
</body>
</html>
