@{
    ViewData["Title"] = "Home Page";
}


<div class="container px-4">
    
</div>



<h1></h1>
<p class="lead">
    The website to upload your works of art online!<br>
    Sign up and get started!
</p>
<p class="lead">
    <a  asp-controller="Usuarios"  asp-action="Register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">RESGISTER</a>
</p>

